form{
    width:200px;
    margin:20px auto;
}

input{
    width: 100%;
    padding: 20px;
    font-family: 'roboto mono', monospace;
    font-size: medium;
}

.poke-card{
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #0d0a12;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color:#f5f5f5;
    border: 1px solid rgb(27, 26, 26);
}

.poke-card::before{
    content:'';
    background: radial-gradient(rgb(27, 26, 26) 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container{
    position: relative;
    width: 180px;
    margin: 0 auto;
}

.poke-stats div{
    display: flex;
    justify-content: space-between;
    align-items:space-between;
    padding:5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed rgb(64, 62, 62);
}

.poke-img{
    width:180px;
    border-radius: 50%;
}
